<div>Checkboxes</div>
<div>
    <en-todo checked="false"/>
    Checkbox content
</div>
<div>
    <en-todo checked="true"/>
    Completed&nbsp;Checkbox content
</div>
<div><br/></div>
<div>Code snippet</div>
<div style="-en-codeblock: true; box-sizing: border-box; padding: 8px; font-family: Monaco, Menlo, Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; color: rgb(51, 51, 51); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-color: rgb(251, 250, 248); border: 1px solid rgba(0, 0, 0, 0.14902); background-position: initial initial; background-repeat: initial initial;">
    <div>Code snippet content</div>
</div>
<div><br/></div>
<div>Highlight text</div>
<div><span style="background-color: rgb(255, 250, 165);-evernote-highlight:true;">Highlighted text content</span></div>
<div><br/></div>
<div>Stikethrough text</div>
<div><s>Stikethrough text content</s></div>
<div><br/></div>
<div>Bullet points</div>
<ul>
    <li>
        First bullet
        <ul>
            <li>
                Nested bullet
                <ul>
                    <li>double nested</li>
                </ul>
            </li>
            <li>Second nested</li>
        </ul>
    </li>
    <li>Second bullet</li>
</ul>
<div><br/></div>
<div><br/></div>
<div>Horizontal&nbsp;rule</div>
<div>
    <hr/>
</div>
<div><br/></div>
<div>Inline image</div>
<div>
    <en-media hash="This needs to be the hex hash value of the attachment" type="image/png"/>
</div>
<div><br/></div>
<div><br/></div>
<div><br/></div>
<div><br/></div>
<div><br/></div>
<div><br/></div>